/* PREDEFINES */

@font-face {
    font-family: "BPRelay";
    src: url('assets/bpreplay/BPreplay.otf');
}

.logo-font {
    font-family: 'BPRelay';
}

/* ########## */


/* Customizing Bootstrap components */

.my-btn {
    background-color: #373F51!important;
    border-color: #373F51!important;
}

.my-btn:hover {
    background-color: #292f3d!important;
}

.my-outline-btn {
    color: #373F51!important;
    border-color: #373F51!important;
}

.my-outline-btn:hover {
    color: var(--bs-btn-hover-color)!important;
    background-color: #373F51!important;
}

.my-range::-webkit-slider-thumb {
    background: #292f3d;
}
  
.my-range::-moz-range-thumb {
    background: #292f3d;
}
  
.my-range::-ms-thumb {
    background: #292f3d;
}

.popover {
    border-color: #dc3545;
}

.popover:hover {
    cursor: pointer;
}

.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::before {
    border-bottom-color: #dc3545 !important;
}

.popover-body {
    color: #dc3545;
    border-color: #dc3545;
}

/* ################################ */


/* Additional Styles */

#github-logo:hover {
    opacity: 0.5;
}

#the-canvas {
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
    position: relative;
}

.shape-canvas {
    position: absolute;
    image-rendering: pixelated;
}

.error-line {
    background-color: #ffafaf;
}

.active-line {
    background-color: #cacaca;
}

.invalid-character {
    background-color: #4b0000;
}


.help-code-example {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    position: relative;
    background-color: #f8f9fa;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.sidebar {
    width: 480px;
    position: fixed;
    right: -480px;
    top: 0;
    box-shadow: -1px 0 10px #eeeeee;
    overflow-y: scroll;
    z-index: 10;
}

.sidebar-hide {
    transform: translate(480px, 0);
    transition: all ease-in 300ms;
}

.sidebar-show {
    transform: translate(-480px, 0);
    transition: all ease-in 300ms;
}

.grid-line {
    z-index: -100;
}

.grid-label {
    z-index: -99;
}

/* CodeMirror Syntax Highlighting */
.cm-identifier {
    color: rgb(204, 40, 122);
}

.cm-methodcall {
    color: #219;
}

.cm-classname {
    /*color: #01748E;*/
    color: #26602E;
}

.cm-number {
    color: dimgray !important;
}

.class-card-wrapper {
    display: none;
}

.class-card {
    border-collapse: collapse;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

.class-card th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.class-card-heading {
    text-align: center;
    border-bottom: #000000 solid 1px;
}

.class-card-last-attr {
    border-bottom: #000000 solid 1px;
}

.object-card {
    width: 220px;
    border: 1px solid #000000;
    border-radius: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 1em;
    margin-bottom: 1.5em;
}

.object-card > div {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.object-card-header {
    text-align: center;
    border-bottom: 1px solid #000000;
}

.fade {
    /*opacity: 0;*/
    -webkit-transition: opacity linear;
    -moz-transition: opacity linear;
    -ms-transition: opacity linear;
    -o-transition: opacity linear;
    transition: opacity linear;
    -webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
}


.sidebar-move-helper {
    position: relative;
    transition: all ease-in 300ms;
}

.sidebar-move-reverse-helper {
    transition: all ease-in 300ms;
}